.cereal-form__title {
    font-size: $l-size;
    margin : 0;
    margin-bottom: $l-size;
    font-family: $baloo;
    color: $red;
}

.cereal-form__search {
//    background: darken($red, 10%);
   border : none;
   border-bottom: .3rem solid $red;
//    color: lighten($yellow, 15%);
   font-weight: 500;
   padding: $s-size;
   margin-bottom: $l-size;
}