html {
    font-size: 62.5%;
}

body {
    font-family : Arial, Helvetica, sans-serif;
    font-size: $m-size;
    background-color: lighten($blue, 35%);
}

label {
display:block;
margin-bottom: $m-size;
}
