//colors
$red : #FF625B;
$blue : #05E9FF; 
$yellow : #FEFE95;

//fonts
@import url(https://fonts.googleapis.com/css?family=Baloo+Chettan|Righteous);
$righteous: 'Righteous';
$baloo: 'Baloo Chettan';

//sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
